window {
    margin: 0px;
    background-color: #000000;
    border-radius: 0px;
}

#input {
    color: #ffffff;
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: 0.5px solid #ffffff;
    border-radius: 0px;
    background-color: #000000;
    margin: 10px 10px;
    margin-bottom: 2px;
}
#input:focus {
    border: 1px solid #ffffff;
}

#inner-box {
    margin: 4px;
    color: #ffffff;
    border-radius: 0px;
}

#outer-box {
    margin: 0px;
    background-color: #000000;
    border: 0.5px solid #ffffff;
}

#scroll {
    margin-top: 5px;
    border: none;
    margin-bottom: 5px;
}

#img{
    margin-right: 10px;
}

#img:selected {
    margin-right: 10px;
    border-radius: 0px;
}

#text:selected {
    color: #000000;
    margin: 0px 0px;
    border: none;
    border-radius: 0px;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 0px;
    background-color: #ffffff;
}
